obj
bin
deploy
*.csproj.user
*.suo
*.cache
~$*
*~
*ReSharper*
!GiveCRM.6.0.resharper
*.swp
*.testsettings
TestResults/*
*.dbmdl
Releases/2*
*.pidb
*.docstates
test-results
apply_config.bat
NDependOut
*.dotCover
*_mm_cache.bin
src/*/sql/debug
src/*/sql/release
.DS_Store
*.user
*.crunchproject.local.xml
*.crunchsolution.local.xml
team.txt
*.orig
package
packages
!/src/packages/repositories.config
/src/GiveCRM.DataAccess/StyleCop.Cache
/src/GiveCRM.Database/StyleCop.Cache
/src/GiveCRM.DummyDataGenerator/StyleCop.Cache
/src/GiveCRM.ImportExport/GiveCRM.ImportExport.Test/StyleCop.Cache
/src/GiveCRM.ImportExport/GiveCRM.ImportExport.TestApp/StyleCop.Cache
/src/GiveCRM.ImportExport/GiveCRM.ImportExport/StyleCop.Cache
/src/GiveCRM.Models/StyleCop.Cache
/src/GiveCRM.Web.Tests/StyleCop.Cache
/src/GiveCRM.Web/StyleCop.Cache
/src/StyleCop.Cache
/src/GiveCRM.DataAccess.Test/StyleCop.Cache