<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- for local work -->
    <add name="GiveCRMLocal"
      connectionString="data source=.\sqlexpress;initial catalog=GiveCRM;integrated security=true"
      providerName="System.Data.SqlClient" />
    
    <!-- for working on shared db -->
    <add name="GiveCRM"
      connectionString="data source=192.168.1.2;initial catalog=GiveCRM;integrated security=false;user id=givecrm;password=demo;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>