<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- for sql express work -->
    <add name="GiveCRM"
      connectionString="data source=.\sqlexpress;initial catalog=GiveCRM;integrated security=true"
      providerName="System.Data.SqlClient" />
    
    <!--  Rename this one to "GiveCRM" for working on full SQL server db -->
    <add name="GiveCRMRemote"
      connectionString="server=(local);database=GiveCRM;trusted_connection=true;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>