<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.5.10.11092" />
  <package id="Simple.Data.Ado" version="0.17.0.0" targetFramework="net40" />
  <package id="Simple.Data.Core" version="0.17.0.0" targetFramework="net40" />
  <package id="Simple.Data.SqlCompact40" version="0.12.2.1" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
</packages>