@using System.Globalization
@model IEnumerable<GiveCRM.Models.Donation>

@{
    Layout = null;
}

<table>
<tr>
    <th>Date</th><th>Amount</th>
</tr>

@foreach (var donation in Model)
{
    <tr>
        <td>@donation.Date.ToLongDateString()</td>
        <td>@donation.Amount.ToString("C2", NumberFormatInfo.CurrentInfo)</td>
    </tr>
}

</table>