@{
    ViewBag.Title = "Index";
}

<h2>Donations</h2>

<h3>Latest Donations</h3>

<table>
<tr>
    <th>Date</th><th>Amount</th>
</tr>

@foreach (var donation in Model)
{
    <tr>
        <td>@donation.Date.ToLongDateString()</td>
        <td>@donation.Amount</td>
    </tr>
}

</table>