@{
    ViewBag.Title = "Index";
}

<div class="donations">
	<div class="row">
		<div class="span16">
<h1>Donations</h1>
		</div>
	</div>

	<div class="row">
		<div class="maincol span-two-thirds">

<h3>Top Donations</h3>

@{Html.RenderAction("TopDonations");}

<h3>Latest Donations</h3>

@{Html.RenderAction("LatestDonations");}

<h3>Top Donors</h3>

@{Html.RenderAction("TopDonors", "Member");}

		</div>

		<div class="sidebar span-one-third">
			<h2>Quick Donate</h2>
		
            @{Html.BeginForm("AjaxSearch", "Members", FormMethod.Post, new { name = "AjaxSearch", id = "AjaxSearch" });}
            <div class="clearfix">
                @Html.Label("SearchCriteria", "Search Criteria")
                <div class="input">
                    @Html.TextBox("SearchCriteria", null, new { @class = "span2" })
                </div>
            </div>

            <div class="actions">
                    <a class="btn primary" href="javascript:DoSearch();">Search</a>
            </div>
            @{Html.EndForm();}

            <div id="QuickResults">&nbsp;</div>

            <div id="AddDonation">&nbsp</div>
		</div>
	</div>
</div>

<script>

    $(document).ready(function () {
        $('#AjaxSearch').submit(function () { DoSearch(); return false; });
    });

    function DoSearch() {
        var criteria = $("#SearchCriteria").val();
        $('#QuickResults')[0].innerHTML = "";
        $('#AddDonation')[0].innerHTML = "";
        $.ajax({
            type: 'GET',
            url: './member/ajaxsearch?criteria=' + criteria,
            dataType: 'html',
            success: function (html, textStatus) {
                $('#QuickResults')[0].innerHTML = html;
            }
        });
    }

    function AddDonation(id) {
        $.ajax({
            type: 'GET',
            url: './donation/quickdonate?id=' + id,
            dataType: 'html',
            success: function (html, textStatus) {
                $('#AddDonation')[0].innerHTML = html;
                $('#Date').datepicker({ dateFormat: 'dd/mm/yy' });
            }
        });
    }

    function DoDonate() {
        $.ajax({
            type: 'GET',
            url: './donation/doquickdonate?id=' +
                $("#DonorId").val() +
                "&campaignId=" + $("#CampaignId").val() +
                "&amount=" + $("#Amount").val() + 
                "&date=" + $("#Date").val().replace('/', '%2F'),
            dataType: 'html',
            success: function (html, textStatus) {
                $('#AddDonation')[0].innerHTML = "Done!";
            }
        });
    }

</script>