@model GiveCRM.Web.Models.Donation.QuickDonateViewModel

<form onsubmit="DoDonate();return false;" class="form-stacked">

@Html.Hidden("DonorId", Model.DonorId)
<div class="clearfix">
    <label for="CampaignId">Campaign</label>
    <div class="input">
        @Html.DropDownList("CampaignId", Model.Campaigns)
    </div>
</div>

<div class="clearfix">
    <label for="Date">Date Donated</label>
    <div class="input">
        @Html.TextBox("Date", Model.DateDonated)
    </div>
</div>

<div class="clearfix">
    <label for="Amount">Amount</label>
    <div class="input">
        @Html.TextBox("Amount", Model.AmountDonated)
    </div>
</div>

<div class="input">
    <a class="btn small" href="javascript:DoDonate();">Save</a>
</div>

</form>

