@model PagedMemberListViewModel
@using GiveCRM.Web.Models.Members
@using PagedList.Mvc
@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/ViewScripts/MemberList.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        MemberList.Initialise();
    });

</script>

@if (Model != null && Model.Count > 0)
{
<table>

    @{ Html.RenderPartial("_TableOfMembers", Model); }

    <tr>
        <td colspan="7" style="text-align: center">
            <style type="text/css">
              .PagedList-pager ul li
              {
                  display: inline;
                  margin: 0 5px;
              }
          
              .PagedList-currentPage { font-weight: bold; }
              .PagedList-currentPage a { color: Black; }
            </style>
            @Html.PagedListPager(Model, Model.PagingFunction, PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </td>
    </tr>
</table>
}
else
{
    <p>Your search returned no results.</p>
}
