@model GiveCRM.Web.Models.Member.MemberSearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@if (Model.AreMore)
{
    <h2>There are more than 25 results - please refine your search.</h2>
}

@{Html.RenderPartial("MembersList", Model.Results);}