@using GiveCRM.Web.Models.Members
@model MemberSearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm(actionName: "Search", controllerName: "Member", method: FormMethod.Get))
{
    @EditHelper.Field(Html, model => model.Name)
    @EditHelper.Field(Html, model => model.PostCode)
    @EditHelper.Field(Html, model => model.Reference)
        
    <input type="submit" value="Search" name="SearchButton" />
}

@{ Html.RenderPartial("MembersList", Model.Results, new ViewDataDictionary()); }