@model GiveCRM.Admin.Web.ViewModels.ExcelImportViewModel

@{
    ViewBag.Title = "GiveCRM :: Add your list of members";
}

<div class="row">
    <div class="span16">
        <h1>Add your list of members</h1>
    </div>
</div>

@if (ViewBag.Error != null)
{
    <div class="row">
        <div class="span12 offset2">
            <div class="alert-message error">
                <p><strong>Ooops!</strong> @ViewBag.Error  Please try again.</p>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="span12 offset2">
        <h2>1. Download the template</h2>
        <div>
            <p>To upload your member list, we need the data in our format.</p>
            <p><a href="@Url.Content(Model.ExcelTemplatePath)">Download the Excel template</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12 offset2">
        <h2>2. Enter your data into the template spreadsheet</h2>
        <p>Add your members' information to the template spreadsheet in Excel.  When you have completed this step, you can proceed to the next step.</p>
        <div class="media-grid" style="margin-bottom: 10px">
            <img src="@Url.Content("~/Content/images/excel.png")" alt="Screenshot of Excel editing data in the GiveCRM format" class="offset1 span14" />            
        </div>
    </div>
</div>
<div class="row">
    <div class="span12 offset2">
        <h2>3. Upload the spreadsheet</h2>
        <form action="@Url.Action("Import")" method="POST" enctype="multipart/form-data">
            <fieldset>
                <p><input type="file" name="File" id="File" /></p>
                <p><button class="btn primary large">Upload your member list</button></p>
            </fieldset>
        </form>
    </div>
</div>
